{% extends "layout.html" %}
{% block bodycontent %}
<div>
    <form method="POST">
        {{ form.hidden_tag() }}

        <fieldset>
            <legend>Log In</legend>

            <div id="username">
                {{ form.username.label() }}

                {% if form.username.errors %}
                    {{ form.username() }}
                    <div>
                        {% for error in form.username.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username() }}
                {% endif %}
            </div>
            <div id="password">
                {{ form.password.label() }}

                {% if form.password.errors %}
                    {{ form.password() }}
                    <div>
                        {% for error in form.password.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password() }}
                {% endif %}
            </div>
            <div id="remember">
                {{ form.remember() }}
                {{ form.remember.label() }}
            </div>
        </fieldset>
        <div id="submit">
            {{ form.submit() }}
        </div>
        <small id="forgotpass">
            <a href="#">Forgot Password?</a>
        </small>
    </form>
</div>
<div>
    <small>
        Need an account? <a href="{{ url_for('signup')}} ">Sign Up Now</a>
    </small>
</div>
{% endblock bodycontent %}