{% extends "layout.html" %}
{% block bodycontent %}
    <p class="fs-1 text-center">Gift Gopher</p>
    {% if current_user.is_authenticated %}
        <div class="container">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-light" href="{{url_for('profile', username=current_user.username)}}" role="button">My Profile</a>
                <a class="btn btn-light" href="{{url_for('gifts_add', username=current_user.username)}}" role="button">Add Gift</a>
            </div>
        </div>
    {% endif %}
{% endblock %}